<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Injecting through constructors -->
    <bean id="duke"
          class="com.springinaction.springidol.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <bean id="sonnet29"
          class="com.springinaction.springidol.Sonnet29"/>

    <bean id="poeticDuke"
          class="com.springinaction.springidol.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>

    <!-- Creating beans through factory method -->
    <bean id="stage"
          class="com.springinaction.springidol.Stage"
          factory-method="getInstance"/>

    <!-- Bean scoping
         prototype - Allows a bean to be instantiated any number of times (once per use) -->
    <bean id="ticket"
          class="com.springinaction.springidol.Ticket" scope="prototype"/>

    <!-- Initializing & destroying beans -->
    <bean id="auditorium"
          class="com.springinaction.springidol.Auditorium"
          init-method="turnOnLights"
          destroy-method="turnOffLights"/>

    <!-- Injecting into bean properties -->
    <bean id="kenny"
          class="com.springinaction.springidol.Instrumentalilst">
        <property name="song" value="Jingle Bells"/>
        <!-- inner bean declaration: -->
        <property name="instrument">
            <bean class="com.springinaction.springidol.Saxophone"/>
        </property>
    </bean>

    <!-- Wiring properties with Spring's p namespace -->
    <bean id="kennyClone"
          class="com.springinaction.springidol.Instrumentalilst"
        p:song = "Jingle Bells"
        p:instrument-ref="saxophone"/>
    <bean id="saxophone" class="com.springinaction.springidol.Saxophone" />

</beans>